@import 'mixins';

form {
  p {
    margin-bottom: 2rem;

    label {
      font-size: 1.2rem;
    }
  }

  input {
    @include defatulInput;

    &:focus,
    &:hover {
      outline: 1px solid $neutral700;
    }
  }

  button {
    @include loginBtn;
  }
}