@import 'mixins';

main {
  display: flex;

  .left {
    flex: 0 0 46.5rem;
    min-height: 75rem;
    border-bottom: 1px solid red;
    background-color: $leftColor;
    padding-inline: 3rem;
    @include centerElements;
  }

  .right {
    flex: 1 1 auto;
    @include centerElements;

    .wrapper {
      width: 35rem;
    }
  }
}