@import 'variables';

@mixin centerElements() {
  display: grid;
  place-content: center;
}


@mixin defatulInput() {
  width: 100%;
  padding: 1.5rem;
  background-color: $bgInputColor;
  border: 1px solid $borderInput;
  border-radius: .4rem;
  color: $txtInput;
  display: flex;
}

@mixin loginBtn() {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: $buttonColor;
  color: $white;
  font-size: 1.6rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;

  &:hover {
    background: $linkColor;
  }
}

// BREAKPOINTS
@mixin breakpoint($name) {
  @if $name =="small" {
    @media (max-width:767px) {
      @content
    }
  }

  @else if $name =="medium" {
    @media (max-width:900px) {
      @content
    }
  }

  @else if $name =="large" {
    @media (min-width:1025px) {
      @content
    }
  }
}