// CORES
$white: #fff;
$neutral700: #404040;
$lightGrey: #757575;

$darkGrey: #333;


$linkColor: #3b82f6;

// INPUT
$bgInputColor: #f8f8f8;
$borderInput: #d8d8d8;
$txtInput: #757575;
$buttonColor: #2563eb;

// LEFT PAINEL
$leftColor: #F4F9FF;